<div class="card">

  <div class="card-body">
    <input
      class="form-control input-header"
      placeholder="Name ..."
      maxlength="100"
      [(ngModel)]="userImage.name"
      [ngModelOptions]="{standalone: true}"
      (input)="deferredTitleUpdate();"
    >
  </div>

  <div class="image-placeholder">
    <img src="{{imageSource}}" class="img-fluid-flex" alt="Responsive image">
  </div>

  <div class="card-body">
    <textarea
      id="desc"
      class="form-control description"
      placeholder="Description "
      [(ngModel)]="userImage.description"
      [ngModelOptions]="{standalone: true}"
      (input)="autoGrow();deferredDescriptionUpdate();"
      maxlength="3000"
    ></textarea>

    <p class="card-text">
      <small class="text-muted">Uploaded {{userImage.creation_date}}</small>
    </p>
  </div>

</div>


