<div class="container space-top">

  <div class="container">
    <div class="row justify-content-md-center">

      <div class="col-9">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Uploaded Images</h3>

            <div class="progress" *ngIf="uploadedImagesCount != totalImageCount">
              <div class="progress-bar" role="progressbar" [style.width]="uploadedProgress + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{uploadedImagesCount}} from {{totalImageCount}} images uploaded
              </div>
            </div>

            <!-- loader -->
            <div class="row justify-content-md-center" *ngIf="uploadedImagesCount != totalImageCount">
              <img src="/assets/loader.svg">
            </div>
          </div>

          <div class="card-body without-side-space">
            <s-upload-preview *ngFor="let image of images" [user_image]="image"></s-upload-preview>
          </div>
        </div>
      </div>

      <div class="col-3">
        <button type="button" class="btn btn-success btn-block">Share with Community</button>
      </div>
    </div>
  </div>

</div>

