<div class="card card-without-border">
  <!--<img class="card-img-top uploaded-image-card" src="{{getSource()}}" alt="Card image cap">-->
  <img src="{{imageSource}}" class="img-fluid-flex" alt="Responsive image">
  <div class="card-block">
    <form>
      <div class="form-group">
        <label>Name:</label>
        <input class="form-control">
      </div>
      <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" [(ngModel)]="userImage.description" rows="3" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-sm">save</button>
      </div>
    </form>
    <p class="card-text"><small class="text-muted">Uploaded {{userImage.create_date}}</small></p>
  </div>
</div>


