<div class="card card-without-border">

  <div class="image-placeholder">
    <img src="{{imageSource}}" class="img-fluid-flex" alt="Responsive image">
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label>Name:</label>
        <input class="form-control" [(ngModel)]="userImage.name" rows="3" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" [(ngModel)]="userImage.description" rows="3" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-sm">save</button>
      </div>
    </form>
    <p class="card-text"><small class="text-muted">Uploaded {{userImage.creation_date}}</small></p>
  </div>
</div>


