<div class="container space-top">
  <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
    <label class="btn btn-outline-primary">
      <input type="radio" [value]="1"> Top Rating
    </label>
    <label class="btn btn-outline-primary">
      <input type="radio" value="middle"> Top Views
    </label>
    <label class="btn btn-outline-primary">
      <input type="radio" [value]="false"> New
    </label>
  </div>

  <!-- <div class="card-body medium-margin">
     <div class="row justify-content-center">
       <div class="col-auto" *ngFor="let postPreview of postPreviews">
         <s-postpreview [post]="postPreview"></s-postpreview>
       </div>
     </div>
   </div>
-->
  <div class="card">
    <div class="card-body">

      <div *ngFor="let postMap of postsMap">
        <div class="row justify-content-md-center">
          <h2><span class="badge badge-secondary">{{postMap.getCreationDate()}}</span></h2>
        </div>

        <div class="card-body medium-margin">
          <div class="row justify-content-center">
            <div class="col-auto small-preview-image" *ngFor="let post of postMap.posts">
              <s-postpreview [post]="post"></s-postpreview>
            </div>
          </div>
        </div>
      </div>

      <!-- loader -->
      <div class="row justify-content-md-center" *ngIf="isLoaderVisible">
        <img src="/assets/loader.svg">
      </div>

    </div>

    <!-- ALL UPLOADED -->
    <div class="card-footer text-muted" *ngIf="isAllPostsUploaded">
      <div class="row justify-content-md-center">
        All posts uploaded
      </div>
    </div>

  </div>

</div>
