<div class="container space-top">

  <div class="container" *ngIf="post">
    <div class="row justify-content-md-center">

      <div class="col-9">

        <div style="padding-top: 10px" class="card main-part main-part-color">
          <div class="row">
            <div class="col-8">
              <input
                class="form-control input-header main-part-color"
                id="nameInput"
                maxlength="100"
                [readonly]="isReadonly()"
                [(ngModel)]="post.name"
                [ngModelOptions]="{standalone: true}">
              <div class="turbo-small-text">
                by <b>{{post.user_name}}</b> via {{post.device_type.toString().toLowerCase()}}, {{getPublishTime(post.create_date)}}
              </div>
            </div>
            <div class="col text-right">
              <div class="btn-block">
                <button class="btn btn-outline-info"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <button (click)="goBack()" class="btn btn-outline-info"><i class="fa fa-arrow-up" aria-hidden="true"></i>Back</button>
                <button class="btn btn-outline-info">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>


          <div style="padding-top: 0px" class="card-body without-side-space">
            <div class="image-placeholder" *ngFor="let userImage of post.images">
              <img src="{{getImageUrl(userImage)}}" class="img-fluid-flex" alt="Responsive image">
            </div>
          </div>

          <textarea
            *ngIf="post && canView(post.description)"
            class="form-control post-description no-border"
            [readonly]="isReadonly()"
            (input)="autoGrow();deferredPostUpdate();"
            [(ngModel)]="post.description"
            [ngModelOptions]="{standalone: true}">
          </textarea>

          <div style="padding-bottom: 20px;">
            <hr class="split-pane-divider"/>
            <div>
              <button class="btn btn-outline-success" (click)="upvote()">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
              </button>
              <button class="btn btn-outline-danger" (click)="downvote()">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
              </button>
              <span class="fa fa-heart turbo-icons"></span>
              <span>{{post.rating.rating}} points</span>
              <span class="fa fa-eye turbo-icons"></span>
              <span>{{post.views}} views</span>
            </div>
          </div>
        </div>

        <!--comments-->
        <div style="margin-top: 20px" class="card main-part-color">
          <div class="card-body" style="padding: 10px">
            <div>
              <textarea
                *ngIf="post"
                placeholder="Write a comment"
                class="form-control post-description no-border"
                [readonly]="isReadonly()"
                (input)="autoGrow();"
                [(ngModel)]="comment"
                [ngModelOptions]="{standalone: true}"></textarea>
            </div>
            <div class="row">
              <div class="col text-right">
                <button class="btn">Post</button>
              </div>
            </div>
          </div>
        </div>


        <s-comments-list></s-comments-list>
      </div>


      <div class="col">

        <div>
          <label *ngIf="isReadonly()" for="tagsTextArea">Tags</label>
          <label *ngIf="!isReadonly()" for="tagsTextArea">Add Tags separated by ','</label>
          <textarea
            class="form-control post-description"
            id="tagsTextArea"
            (input)="updateTags();deferredPostUpdate();"
            [(ngModel)]="tagsString"
            [ngModelOptions]="{standalone: true}"
            [readonly]="isReadonly()">
          </textarea>
        </div>

        <div style="margin-top: 20px">
          <button *ngIf="!isReadonly() && post.visible" class="btn btn-warning btn-block" (click)="hide()">Hide</button>
          <button *ngIf="!isReadonly() && !post.visible" class="btn btn-success btn-block" (click)="show()">Share with community</button>
        </div>
      </div>
    </div>
  </div>

</div>

