<div class="container space-top">

  <div class="container" *ngIf="post">
    <div class="row justify-content-md-center">

      <div class="col-9">

        <div class="main-part main-part-color">

          <input
            class="form-control input-header main-part-color"
            id="nameInput"
            maxlength="100"
            [readonly]="isReadonly()"
            [(ngModel)]="post.name"
            [ngModelOptions]="{standalone: true}">


          <div style="padding-top: 0px" class="card-body without-side-space">
            <s-upload-preview *ngFor="let image of post.images" [user_image]="image"></s-upload-preview>
          </div>

          <textarea
            *ngIf="post && canView(post.description)"
            class="form-control post-description"
            [readonly]="isReadonly()"
            (input)="autoGrow();deferredPostUpdate();"
            [(ngModel)]="post.description"
            [ngModelOptions]="{standalone: true}">
          </textarea>

          <div style="padding-bottom: 20px;">
            <hr class="split-pane-divider"/>
            <div>
              <i style="margin-left: 10px" class="fa fa-arrow-up turbo-icons"></i>
              <i class="fa fa-arrow-down turbo-icons"></i>
              <i style="margin-left: 50px" class="fa fa-heart turbo-icons"></i>
            </div>
            <div>
              <span>1000 points</span>
              <span style="margin-left: 15px">80.000 views</span>
            </div>
          </div>
        </div>


        <div class="card-body without-side-space">
          <span style="padding-left: 10px">172 Comments</span>
          <div class="container-fliud">
            <s-comments-list></s-comments-list>
          </div>
        </div>

      </div>

      <div class="col-3">

        <div class="col-xs-12" style="height:34px;"></div>

        <div>
          <label *ngIf="isReadonly()" for="tagsTextArea">Tags</label>
          <label *ngIf="!isReadonly()" for="tagsTextArea">Add Tags separated by ','</label>
          <textarea
            class="form-control post-description"
            id="tagsTextArea"
            (input)="updateTags();deferredPostUpdate();"
            [(ngModel)]="tagsString"
            [ngModelOptions]="{standalone: true}"
            [readonly]="isReadonly()">
          </textarea>
        </div>

        <div class="col-xs-12" style="height:50px;"></div>

        <div class="form-group ">
          <button type="button" class="btn-with-margin btn btn-warning btn-block" (click)="goBack()">Go Back</button>
          <button *ngIf="!isReadonly() && post.visible" type="button" class="btn btn-success btn-block" (click)="hide()">Hide</button>
          <button *ngIf="!isReadonly() && !post.visible" type="button" class="btn btn-success btn-block" (click)="show()">Share with Community</button>
        </div>

      </div>
    </div>
  </div>

</div>

