.input-group:focus {
  outline: none !important;
}

input[readonly].input-header {
  background-color: #fff;
}

textarea[readonly].description {
  background-color: #fff;
}

.view-only-input {
  max-width: 25%;
}

span {
  display: block;
  overflow: hidden;
  padding-right: 10px;
}

.input-header {
  font-size: 150%;
  border: none;
}

.description {
  min-height: 60px;
  overflow: hidden;
  resize: none;
  border: none;
}

.internal-card {
  border: none;
}

.btn-with-margin {
  margin: 2px;
}
