.input-group:focus {
  outline: none !important;
}

.description {
  min-height: 30px;
  overflow: hidden;
  resize: none;
  border: none;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
}
