<div class="card-body without-side-space">
  <div class="row">

    <header style="margin-left: 20px" class="col">{{commentsList.length}} Comments</header>

    <div class="col text-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn button-with-border" id="dropdownBasic2" ngbDropdownToggle>Best</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button class="dropdown-item">Best</button>
          <button class="dropdown-item">New</button>
        </div>
      </div>
    </div>

  </div>

  <div *ngFor="let comment of commentsList">
    <s-comment [value]="comment">
    </s-comment>
  </div>
</div>
