<div class="card main-part-color" style="margin-top:5px;margin-bottom:0;">
  <div class="card-body" style="padding: 10px 15px">

    <div class="row">


      <div class="col-11">
        <div class="row">

          <div class="col-1 text-center align-middle" style="max-width: 2em; ">
            <i class="fa fa-arrow-up turbo-small-icons"></i>
            <i class="fa fa-arrow-down turbo-small-icons"></i>
          </div>

          <div class="col text-left">
            <div class="turbo-small-text">
              <span>by <b>{{currentComment.user_name}}</b> </span>
              <span class="turbo-small-info-margin">via {{currentComment.device.toString().toLowerCase()}}</span>
              <span class="turbo-small-info-margin">{{currentComment.rating.rating}} pts</span>
              <span
                class="turbo-small-info-margin">
                {{
                diffDays != 0? diffDays + " Days" :
                diffHours != 0? diffHours + " Hrs" :
                diffMinutes != 0? diffMinutes + " Min" :
                diffSeconds != 0? diffSeconds + " Sec":
                1 + " Sec"
                }} ago</span>
            </div>

            <div>{{currentComment.content}}</div>

            <div *ngIf="currentComment.reply">

              <div style="margin-left: 40px">
                <s-comment [comment]="currentComment.reply" [reply]="true"></s-comment>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div *ngIf="!reply" class="col-1 text-center">
        <i class="fa fa-reply comment-icons"></i>
        <div style="font-size: small">Reply</div>
      </div>

    </div>

  </div>
</div>
