<nav class="navbar navbar-toggleable-md navbar-light bg-faded sticky-top">
  <div class="collapse navbar-collapse">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <a class="navbar-brand" routerLink="/">Turbo Images</a>
          </div>
          <div class="col-6 col-right">
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-success">Add Images</button>
              <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                  @ermolaev <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a class="dropdown-item" routerLink="/materials">My Materials</a></li>
                  <li role="menuitem"><a class="dropdown-item" routerLink="/settings">Settings</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="logout()">Log Out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</nav>
