<nav class="navbar navbar-toggleable-md navbar-light bg-faded sticky-top">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarMain"
          aria-controls="navbarMain"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a class="navbar-brand" routerLink="/">Turbo Images</a>
      </div>
      <div class="col-6 col-right">
        <div class="collapse navbar-collapse" id="navbarMain">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-success">Add Images</button>

            <div ngbDropdown class="btn-group" role="group">
              <button type="button" class="btn btn-primary" id="userMenu" ngbDropdownToggle>
                @ermolaev <span class="caret"></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="userMenu">
                <a class="dropdown-item" routerLink="/materials">My Materials</a>
                <a class="dropdown-item" routerLink="/settings">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Log Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
