$space-on-top: 20px !global;

// POST PREVIEW
$postpreview-margin-size: 4px !global;
$postpreview-border-default: 3px solid black !global; //mouse out
$postpreview-border-active: 3px solid #ffa500 !global; //mouse over
