@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

.col-right {
  text-align: right;
  align-content: flex-end;
}

.space-top {
  padding-top: $space-on-top;
}

.medium-margin {
  margin: 1em;
}

//POST PREVIEW

.postpreview-medium-size {
  width: $postpreview-medium-size;
}

.postpreview-margin {
  margin: $postpreview-margin-size;
}

.postpreview-default {
  border: $postpreview-border-default;
}

.postpreview-active {
  border: $postpreview-border-active;
}

.small-preview-image {
  margin: 2px;
  padding: 2px;
}

.tags-group {
  margin: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

//MY IMAGE PREVIEW

.imagepreview-medium-size {
  width: $imagepreview-medium-size;
}

.image-placeholder {
  background: white;
  width: inherit;
  text-align: center;
}

.img-fluid-flex {
  max-width: 100%;
  height: auto;
}

.small-padding {
  padding: 4px;
}

// SCROLLBAR SETTINGS

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $scrollbar-background-color;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.no-border {
  margin: 0px;
  padding: 0px;
}

// Any name header

.input-header {
  font-size: $name-header-font-size;
  border: $name-header-border;
}
