@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
h1, h2, h3, h4 {
  font-family: 'PT Sans Narrow', sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #7D498C;
  border-color: #451054;
}

.btn-primary:hover {
  color: #fff;
  background-color: #9D72A9;
  border-color: #7D498C;
}
