@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

.col-right {
  text-align: right;
  align-content: flex-end;
}

.space-top {
  padding-top: $space-on-top;
}

.medium-margin {
  margin: 1em;
}

//POST PREVIEW
.postpreview-medium-size {
  width: 200px;
}

.postpreview-margin {
  margin: $postpreview-margin-size;
}

.postpreview-default {
  border: $postpreview-border-default;
}

.postpreview-active {
  border: $postpreview-border-active;
}

.cursor-pointer {
  cursor: pointer;
}
