@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Bangers');

.col-right {
  text-align: right;
  align-content: flex-end;
}

.col-left {
  text-align: left;
  align-content: flex-end;
}

.space-top {
  padding-top: $space-on-top;
}

.medium-margin {
  margin: 1em;
}

//POST PREVIEW

.postpreview-medium-size {
  width: $postpreview-medium-size;
}

.postpreview-margin {
  margin: $postpreview-margin-size;
}

.postpreview-default {
  border: $postpreview-border-default;
}

.postpreview-active {
  border: $postpreview-border-active;
}

.small-preview-image {
  margin: 2px;
  padding: 2px;
}

.tags-group {
  margin: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.main-part {
  padding-left: 20px;
  padding-right: 20px;
}

.main-part-color {
  background-color: $main-part-background-color;
}

//MY IMAGE PREVIEW

.imagepreview-medium-size {
  width: $imagepreview-medium-size;
}

.image-placeholder {
  background: white;
  width: inherit;
  text-align: center;
}

.img-fluid-flex {
  max-width: 100%;
  height: auto;
}

.small-padding {
  padding: 4px;
}

// SCROLLBAR SETTINGS

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $scrollbar-background-color;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.no-border {
  margin: 0px;
  padding: 0px;
}

.no-visual-border {
  border: none;
}

// Any name header

.input-header {
  font-size: $name-header-font-size;
  border: $name-header-border;
  padding: 0;
}

// Any description

.description {
  min-height: 60px;
  overflow: hidden;
  resize: none;
  border: none;
}

textarea[readonly].post-description, textarea[readonly].description, input[readonly].input-header {
  background-color: $readonly-backgroud-color;
}

.post-description {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 30px;
  overflow: hidden;
  resize: none;
  background-color: $main-part-background-color;
}

.no-border {
  border: none;
}

textarea.focus, .description:focus, .input-group:focus, .post-description:focus {
  outline: none !important;
}

.logo-text {
  font-family: 'Bangers', cursive;
  letter-spacing: 5px;
  font-size: 1.4em;
}

.without-side-space {
  padding-left: 0px;
  padding-right: 0px;

  margin-left: 0px;
  margin-right: 0px;
}

.turbo-icons {
  margin: 5px;
  font-size: 1.5em;
}

.turbo-small-icons {
  font-size: 0.8em;
}

.comment-icons{
  margin: 5px;
  font-size: 1em;
}

.button-with-border {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.turbo-small-text {
  font-size: 0.8em;
}

.turbo-small-info-margin {
  margin-left: 10px;
}
